<configuration>

    <!-- Defines timestamp variable -->
    <timestamp key="startupTime" datePattern="yyyy-MM-dd_HH-mm-ss" />


    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Use the startup timestamp in the filename -->
        <file>logs/app_${startupTime}.log</file>
        
        <!-- if a file with the same name exists, it will be overwritten -->
        <append>false</append>

        <!-- the actual logging line in the logfile -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Sets the log level to debus, so all mesages will be printed -->
    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>


<!-- Rotating logs? keep only files from the day / max history of X logs? -->
</configuration>
